<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Attacking.GitHub.com by attacking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" media="screen">
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app">
      <section class="site-group" v-for='nav in navs'>
        <p class="group-title">{{nav.name}}</p>
        <ul class="group-ul">
          <li class="group-li" v-for='site in nav.list'>
            <a class="" :href="site.link" target="_blank">{{site.label}}</a>
          </li>
        </ul>
      </section>
    </div>
    <script type="text/javascript" src="./scripts/index.js"></script>
  </body>
</html>
